.agendaList-panel {
  background-color: var(--text-color);
}

.agendaList-container {
  width: 80%;
  height: auto;
  min-height: 600px;
  margin: 50px 10%;
  position: relative;
  background: var(--main-bg-color);
}

.agendaList--date-slider {
  width: 50%;
  margin: 10px auto;
}

.agendaList--date-slide--time {
  text-align: center;
  font-family: 'Bastille', Roboto, serif;
  color: var(--text-color);
  font-size: 32px;
}

.agendaList--item {
  display: flex;
  width: 80%;
  margin: 30px 10%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.agendaList--item--title {
  font-family: 'Roboto', serif;
  text-transform: uppercase;
  color: var(--text-color);
  font-size: 15px;
}

.agendaList--item--name {
  font-family: 'Bastille', Roboto, serif;
  color: black;
  font-size: 32px;
  padding-right: 10px;
  margin: 7px 0;
}

.agendaList--item--time {
  font-family: 'Slabserif', Roboto, serif;
  color: var(--text-color);
  font-size: 21px;
}

.agendaList--item--time img {
  position: relative;
  height: 20px;
  top: 2px;
}

.agendaList--item--actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.agendaList--item--actions--btn {
  font-family: 'Bastille', Roboto, serif;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  height: 43px;
  width: 135px;
  background: var(--text-color);
  border-radius: 4px;
  color: white;
  border: none;
}

.btn-remove {
  background-color: rgba(255, 53, 0, 0.64);
}

.agendaList--item--actions--link {
  text-transform: uppercase;
  font-family: Roboto, serif;
  margin-top: 7px;
  width: 100%;
  text-align: right;
  color: var(--text-color-2);
  font-size: 15px;
  text-decoration: none;
}

.agendaList--empty {
  text-align: center;
  font-family: 'Bastille', Roboto, serif;
  color: var(--text-color-2);
  font-size: 25px;
}
