.agenda-list {
  position: absolute;
  width: 100%;
  min-height: calc(100% - 70px);
  margin-top: 70px;
  background: var(--text-color);
}

.agenda-container {
  width: 80%;
  height: 600px;
  position: absolute;
  margin: 50px 10%;
  background: var(--main-bg-color);
}

section {
  margin: 25px auto;
  width: 300px;
}

.switch {
  position: relative;
  margin: 20px auto;
  height: 30px;
  width: 220px;
  background: var(--ligth-green);
  border-radius: 20px;
  padding: 3px;
}
.switch input {
  display: none;
}
.switch label {
  position: relative;
  float: left;
  font-size: 14px;
  width: 50%;
  height: 30px;
  text-align: center;
  padding-top: 7px;
  color: white;
  z-index: 2;
  cursor: pointer;
}
.selection {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 50%;
  background: var(--text-color);
  height: 36px;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 1;
  transition: 0.15s ease-out;
}

.switch input[type='checkbox']:checked + .selection {
  left: 50%;
}

.agenda-header {
  width: 100%;
  text-align: center;
  letter-spacing: 0;
  color: var(--text-color);
  font-size: 25px;
  padding-bottom: 20px;
}

.agenda-item {
  display: flex;
  width: 80%;
  margin: 20px 10%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.agenda-item-title {
  color: var(--text-color);
  font-size: 15px;
}

.agenda-item-name {
  color: black;
  font-size: 23px;
  margin: 7px 0;
}

.agenda-item-time {
  color: var(--text-color);
  font-size: 18px;
}
.agenda-item-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.agenda-item-btn {
  width: 120px;
  height: 40px;
  background: var(--text-color);
  border-radius: 4px;
  color: white;
  border: none;
}

.agenda-item-link {
  font-family: Roboto;
  margin-top: 7px;
  text-align: right;
  color: var(--text-color-2);
  font-size: 12px;
  text-decoration: none;
}

.agenda-empty {
  text-align: center;
  font-family: Roboto;
  color: var(--text-color-2);
  font-size: 20px;
}
