.form-root {
  position: fixed;
  width: 100%;
  min-height: calc(100% - 70px);
  margin-top: 70px;
  background: #1a3c34;
}

.form-container {
  width: 80%;
  height: 600px;
  position: absolute;
  margin: 10px 10%;
  background: #fff7ea;
  text-align: center;
}

.form-logo {
  width: 40%;
  margin: 25px 30%;
  height: auto;
}

.form-inputs {
  width: 50%;
  margin: 20px 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.form-header {
  color: #1a3c34;
  font-size: 30px;
  margin: 20px 0;
}

input {
  font-family: 'Roboto';
  width: 100%;
  margin: 10px 0;
  height: 57px;
  background: #ffffff;
  border-radius: 12px;
  border: none;
  padding: 0 10px;
}

.form-submit {
  border: none;
  color: white;
  padding: 10px 25px;
  background: #ee7623;
  border-radius: 12px;
}
