@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: 'Slabserif';
  src: url('../font/Slabserif.ttf');
}

@font-face {
  font-family: 'Bastille';
  src: url('../font/Bastille.ttf');
}

:root {
  --main-bg-color: #fff7ea;
  --ligth-green: #9ed8b3;
  --text-color: #1a3c34;
  --text-color-2: #4b4b4b;
  --text-color-3: #707070;
  --btn-bg-color: #ee7623;
  --nav-border-color: #fed16d;

  --nav-heigth: 70px;
}

* {
  font-family: 'Slabserif', Roboto, serif;
  font-style: normal;
  color: black;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.content-block {
  position: relative;
  display: flex;
  width: 100%;
  min-height: calc(100vh - var(--nav-heigth));
  margin-top: var(--nav-heigth);
  z-index: 1;
}