.speakers-panel {
  background-color: var(--main-bg-color);
}

.speakers-panel--container {
  position: relative;
  width: 80%;
  margin: 50px 10% 0 10%;
}

.speakers-panel--filter {
  list-style: none;
  position: fixed;
  width: 30px;
  text-align: center;
  margin-left: -25px;
  border: 2px solid var(--ligth-green);
  text-transform: uppercase;
  color: var(--text-color-3);
}

.speakers-panel--filter li {
  cursor: pointer;
  padding: 3px 0;
  opacity: 0.8;
}

.speakers-panel--list {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.speakers-panel--list-item {
  width: 46%;
  margin: 0 2% 20px 2%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.speakers-panel--list-item:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.list-item--img {
  display: table;
  height: 90px;
  width: 90px;
  border: 1px solid var(--text-color-3);
  background: white;
  object-fit: cover;
}

.list-item--block {
  padding: 5px 0 0 20px;
}

.list-item--name {
  font-family: 'Bastille', Roboto, serif;
  color: black;
  font-size: 32px;
  letter-spacing: 0;
}

.list-item--description {
  color: var(--ligth-green);
  font-size: 15px;
}

.list-item--affiliation {
  color: var(--ligth-green);
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .speakers-panel--filter {
    display: none;
  }

  .speakers-panel--list {
    flex-direction: column;
  }

  .speakers-panel--list-item {
    width: 100%;
    margin: 10px 0;
  }
}
